<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Калькулятор</h1>
<form method="post" action="/calc">
    <input type="text" name="num1" placeholder="Первое число">
    <input type="text" name="num2" placeholder="Второе число">
    <select name="operation">
        <option value="+">Сложение</option>
        <option value="-">Вычитание</option>
        <option value="*">Умножение</option>
        <option value="/">Деление</option>
    </select>
    <button type="submit">равно</button>
</form>
</body>
</html>